.label {
    font-size: large;
}

.errorLabel {
    color: red;
    font-size: large;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.input {
   margin-bottom: 15px;
   border-radius: 8px;
   max-width: 70%;
}

.submitBtn {
    color: black;
    border-radius: 20px;
    padding: 5px 14px;
    text-align: center;
}