.heading {
    text-align: center;
    margin-top: 100px;
}

.profile {
    width: 60%;
    height: 200px;
    background-color: whitesmoke;
    margin: 0px auto;
}

.profileImg {
    display: inline;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 30px;
}

.profileName {
    display: inline;
    margin-left: 30px;
    font-size: 30px;
}