.post {
    width: 35%;
    margin: 30px auto;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

.profileImg {
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 10px;
}

.description {
    margin: 10px;
    display: inline-block;
    overflow-wrap: anywhere;
}

.image {
    position: relative;
    width: 100%;
    max-height: 400px;
}

.profileName {
    display: inline;
    margin-left: 10px;
    font-size: large;
    text-decoration: none;
    color: black;
}

.profileName:hover {
    color: black;
}

.commentBtn,
.likeBtn {
    color: black;
    border-radius: 10px;
    padding: 5px 14px;
}

.deleteBtn {
    color: black;
    border-radius: 10px;
    padding: 4px 8px;
    margin: 4px;
}

.editBtn {
    text-decoration: none;
    background-color: #f0f0f0;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    margin: 4px;
    padding: 4px 8px;
}

.editBtn:hover {
    color: black;
}

.editDeleteButtons {
    display: inline;
    margin-left: 23%;
}

.comments {
    background-color: #f0f2f5;
    border-radius: 10px;
}

.comment {
    display: inline;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 10px;
}

.postFooter {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}