#loginForm {
    max-width: 40%;
    margin: auto;
    margin-top: 50px;
}

.register {
    display: inline;
    text-decoration: none;
}

.labels {
    font-size: large;
}

.error {
    color: red;
    font-size: large;
    margin-bottom: 16px;
}